.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    /* color: #f2f2f2; */
    padding-left: 10px;
}

.nav {
  overflow: hidden;
  background-color: #f7f7f7;
  border-bottom: 2px solid #195C60;
  background-size: cover;
  position: fixed;
  margin-top: 0px;
  width: 100%;
  height: 70px;
  top:0px;
}


.nav-link {
  float: left;
  color: #000000;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  background-color: none;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-right {
  float: right;
}
/* img{
  border-radius: 50%;
} */

.profile{
  border-left: 2px solid #195C60;
  padding-left: 24px;
  text-decoration: none;
  color: black;
  padding-left:20px;
}
.profile_text{
  margin-bottom: 10px;
}

.profile_icon{
  padding-top: -24px;
  float: left;
  padding: 15px 10px;
  text-decoration: none;
  font-size: 15px;
  background-color: none;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
}

.social-nav__icon {
  fill: #195C60;
  transition: .25s ease;
}

.social-nav__icon:hover {
  fill: #FFC2B4;
}

.social-nav__link + .social-nav__link {
  margin-left: 10px;
}

/* .instagram_icon{
  border-radius:50%;
  background-color: #195C60;
  color:white
}
.instagram_icon:hover {
  fill: #FFC2B4;
} */