.nav-title {
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  padding-left: 10px;
}
.nav-link {
  float: left;
  color: #000000;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  background-color: none;
  border: none;
  cursor: pointer;
  outline: 0;
}
.nav-right {
  float: right;
}
.profile {
  border-left: 2px solid #195c60;
  padding-left: 24px;
  text-decoration: none;
  color: black;
  padding-left: 20px;
}
.profile_text {
  margin-bottom: 10px;
}
.profile_icon {
  padding-top: -24px;
  float: left;
  padding: 15px 10px;
  text-decoration: none;
  font-size: 15px;
  background-color: none;
  cursor: pointer;
}
.social-nav__icon {
  fill: #195c60;
  transition: 0.25s ease;
}
.social-nav__icon:hover {
  fill: #ffc2b4;
}
.social-nav__link + .social-nav__link {
  margin-left: 10px;
}
.footer_links {
  margin-left: 20px;
}
